@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본적인 브라우저 스타일 초기화 */
body {
  margin: 0;
  place-items: center;
  background-color: #dbeafe;
  color: black;
  font-synthesis: none;
  max-width: none;
}
